.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: showModal 0.3s forwards ease-out;
    z-index: 2;
}
.animatedShow {
    animation: showModal 0.3s forwards ease-out;
}
@keyframes showModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
